.highlight {
  font-weight: 800;
  color: #42464c;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(255, 255, 255, 0) 59%,
    rgba(250, 233, 0, 1) 60%,
    rgba(250, 233, 0, 1) 100%
  );
}
